.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 8px 20px;
  }

.chatChip {
  max-width: 70%;
}

.chats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.placeRight {
  align-self: flex-end;
}

.messageInput {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0px 20px;
  font-size: medium;
  color: rgb(43, 45, 49);
}
